



:root {
    --primary-brand-color:#4D5AE5;
    --dark-color:#2E2F42;
    --text-color:#434455;
    --cloud-color:#ffffff;
    --cornflower-color:#E7E9FC;
    --lightcloud-color:#F4F4FD;
    --pressedstate-color:#404BBF;
    
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:var(--cloud-color);
    color:var(--dark-color);
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}


    /*     --------  HEADER  --------       */   
.header {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}
.header-container {
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    height: 72px;
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
}
.header-logo {
    display: flex;
}
.logo-one {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
    margin-top: 24px;
    margin-bottom: 24px;

    display: flex;
    align-items: center;
    text-transform: uppercase;

}
.logo-two {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    margin-top: 24px;
    margin-bottom: 24px;

    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--dark-color);
}
.header-list {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 76px;

}

.header-item:not(:last-child) {
    margin-right: 40px;
    
}
.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    display: block;
}

.header-list .link:hover,
.header-list .link:focus {
    color: var(--primary-brand-color);
}


.address-ul {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px; 
}

.contacts-list .link:hover,
.contacts-list .link:focus {
    color: var(--primary-brand-color);
}


.header-mail {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 40px; 

}
.header-tel {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

    /*     --------  HERO  --------       */

.hero {
    background: var(--dark-color);
    text-align: center;
}

.hero-title {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--cloud-color);
    margin: 0;

    text-align: center;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    gap: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--cloud-color);
    background: var(--primary-brand-color);
    
    cursor: pointer;
    display: flex;
    text-align: center;
    border: transparent;
    margin: 0 auto;
}

.hero-btn .link:hover,
.hero-btn .link:focus {
    background: var(--pressedstate-color);
    
}

    /*     --------  FEATURES  --------       */
.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    display: flex;
    margin: 0;
    padding: 0;
}

.features-item {
    width: 264px;
    
}

.features-item:not(:last-child) {
    margin-right: 24px;
}

.features-title {
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
    margin-top: 0;
}

.features-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin: 0;
}

    /*     --------  WORK  --------       */

.work {
    padding-bottom: 120px;
}

.work-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);

    text-align: center;
    text-transform: capitalize;
    padding-bottom: 72px;
    margin: 0;
}

.work-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.work-item {
    margin-right: 24px;
}

    /*     --------  TEAM  --------       */  

.team {
    background-color: var(--lightcloud-color);
    padding-bottom: 120px;
}
   
.team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    padding-top: 120px;
    padding-bottom: 72px;

    text-align: center;
    text-transform: capitalize;
    margin: 0;

}

.team-list {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;

}
    
.team-item {
    background-color: var(--cloud-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-right: 24px;

}

.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);

    text-align: center;
}

.team-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

    text-align: center;
}

    /*     --------  FOOTER  --------       */  

.footer {
    background-color: var(--dark-color);
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cornflower-color);
    width: 264px;
    padding-bottom: 100px;
}    


.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--primary-brand-color);
    padding-top: 100px;
    padding-bottom: 16px;

    align-items: center;
    text-transform: uppercase;
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--lightcloud-color);
    padding-top: 100px;
    padding-bottom: 16px;

    align-items: center;
    text-transform: uppercase;
}

    /*     --------  Стили для Портфолио  --------       */ 



.projects-list {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 72px;

}    
 
.projects-item:not(:last-child) {
    margin-right: 24px;
}
    

.projects-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 12px 24px;
    letter-spacing: 0.04em;
    color: var(--primary-brand-color);

    align-items: center;
    text-align: center;
    cursor: pointer;
    
    background: var(--lightcloud-color);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    
}

.projects-item .link:hover,
.projects-item .link:focus {
    color: var(--cloud-color);
    background: var(--pressedstate-color);
}

.container-projects {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.content-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.content-list .item {
    flex-basis: calc(100% / 3);
    background: var(--cloud-color);
    border: 1px solid var(--cornflower-color);
      
}



.content-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.content-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);

}